<div class="header-menu">
    @if (User.Identity.IsAuthenticated)
    {
        
        <div class="user-area dropdown float-right">
            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="user-avatar rounded-circle" src="/AdminLayout/images/Admin.png" alt="User Avatar">
            </a>

            <div class="user-menu dropdown-menu">

                <a class="nav-link" href="/identity/account/manage"><i class="fa fa -cog"></i>Settings</a>

                <a class="nav-link" href="/identity/account/logout"><i class="fa fa-power -off"></i>Logout</a>
            </div>
        </div>
    }
    else
    {
        @*<a class="nav-link text-dark mt-2" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>*@

        <a class="nav-link text-dark mt-2" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>

    }



</div>
