@inject ICategoryRepository _categoryRepository
@inject IJSRuntime _jsRuntime
@inject IHashids _hashId
@attribute [Authorize(Roles = SD.Role_Admin)]

<div class="simple-form">

    <div class="form-group">
        <label for="first-name">Category Title</label>
        <input @bind="@HashedCatId" type="hidden" class="form-control" />
        <input @bind="@categoryDTO.CatTitle" type="text" class="form-control" />
    </div>
    @if (IsProcess)
    {
        <button  class="btn btn-outline-primary btn-block"><i class="fade fa-spin fa-spinner"></i> Loading ...</button>
        <button  class="btn btn-outline-secondary btn-block"><i class="fade fa-spin fa-spinner"></i> Loading ...</button>
    }
    else
    {
        <button @onclick="SubmitForm" class="btn btn-outline-primary btn-block">Update</button>
        <button @onclick="Cancel" class="btn btn-outline-secondary btn-block">Cancel</button>
    }
</div>

@code {

    public CategoryDTO categoryDTO { get; set; } = new();

    [Parameter]
    public int CatId { get; set; }

    [Parameter]
    public string CatTitle { get; set; }

    public bool IsProcess { get; set; } = false;

    public string HashedCatId { get; set; }

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }


    protected override async Task OnInitializedAsync()
    {
        categoryDTO = await _categoryRepository.GetCategoryById(CatId);
        HashedCatId = _hashId.Encode(CatId);
    }


    async Task SubmitForm()
    {
        IsProcess = true;
         if(string.IsNullOrWhiteSpace(categoryDTO.CatTitle))
        {
            await _jsRuntime.ToastrError("Title Cannot Be Null");
            IsProcess = false;
            return;
        }
        categoryDTO.catId = _hashId.Decode(HashedCatId)[0];
        var status = await _categoryRepository.UpdateCategory(CatId, categoryDTO);
        if (status)
        {
            await _jsRuntime.ToastrSuccess("Updated Successfuly");
            await ModalInstance.CloseAsync(ModalResult.Ok($"Updated Successfuly"));
            IsProcess = false;

        }
        else
        {
            await _jsRuntime.ToastrError("Something Went Wrong");
            await ModalInstance.CancelAsync();
            IsProcess = false;
        }
    }

    async Task Cancel()
    {
        await ModalInstance.CancelAsync();
       
    }
}
