@page "/Account/ForgotPasswordConfirmation"

<div class="center-text mb-5 mt-5">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 u-s-m-b-30">
                    <div class="empty">
                        <div class="empty__wrap">
                            <span class="empty__big-text">Check Your Email,</span>
                            <span class="empty__text-1">An Email Was Sent To Your Email Account</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
@code {

}
