@page "/Account/ForgotPassword"
@inject IAccountRepository _accountRepository
@inject IJSRuntime _jsRuntime
@inject NavigationManager _navigationManager

<!--====== Section 1 ======-->
<div class="u-s-p-y-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">

                            <a href="/">Home</a>
                        </li>
                        <li class="is-marked">

                            <a href="">Reset</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->
<!--====== Section 2 ======-->
<div class="u-s-p-b-60">

    <!--====== Section Intro ======-->

    <!--====== End - Section Intro ======-->
    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row row--center">
                <div class="col-lg-6 col-md-8 u-s-m-b-30">
                    <div class="l-f-o">
                        <div class="l-f-o__pad-box">
                            <h1 class="gl-h1">PASSWORD RESET</h1>

                            <span class="gl-text u-s-m-b-30">Enter your email or username below and we will send you a link to reset your password.</span>
                            <EditForm Model="ForgotPassDTO" OnValidSubmit="HandleSubmit">
                                <DataAnnotationsValidator></DataAnnotationsValidator>
                                <div style="color:red">
                                    <ValidationSummary></ValidationSummary>
                                </div>
                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="reset-email">E-MAIL *</label>

                                    <input @bind-value="ForgotPassDTO.Email" class="input-text input-text--primary-style" type="text" id="reset-email" placeholder="Enter E-mail">
                                </div>
                                <div class="u-s-m-b-30">

                                    <button class="btn btn--e-transparent-brand-b-2" type="submit">SUBMIT</button>
                                </div>
                                <div class="u-s-m-b-30">

                                    <a class="gl-link" href="signin.html">Back to Login</a>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->
@code {
    public ForgotPasswordDTO ForgotPassDTO { get; set; } = new();


    private async Task HandleSubmit()
    {
        var IsSent = await _accountRepository.ForgotPassword(ForgotPassDTO);

        if (IsSent)
        {
            await _jsRuntime.ToastrSuccess("Sent Successfuly");
            _navigationManager.NavigateTo("/Account/ForgotPasswordConfirmation");
        }
        else
        {
            await _jsRuntime.ToastrError("Sent Was Not Successful");
            return;
        }
    }
}
