@page "/Account/ResetPasswordConfirmation"

<div class="center-text mb-5 mt-5">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 u-s-m-b-30">
                    <div class="empty">
                        <div class="empty__wrap">
                            <span class="empty__big-text">Password Changed,</span>
                            <span class="empty__text-1">Your Password Has Been Changed</span>
                            <a class="shop-now-link btn--e-brand" href="/Account/Login">Login Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>

@code {

}
